<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yassya Lil</title>
    <link rel="stylesheet" href="/static/styles/0_base.css">
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/static/logo.ico" alt="Logo" id="logo">
            </a>
            <a href="/" class="site-name-link">
                <span class="site-name">Yassya Lil</span>
            </a>
        </div>
        <nav>
            <a href="/">
                <img src="/static/images/icons/Home.png" class="icon" id="home-ico">
                <div class="nav-text">Home</div>
            </a>
            <a href="/books">
                <img src="/static/images/icons/Books.png" class="icon" id="books-ico">
                <div class="nav-text">Books</div>
            </a>
            <a href="/blog">
                <img src="/static/images/icons/Blog.png" class="icon" id="blog-ico">
                <div class="nav-text">Blog</div>
            </a>
            <a href="/about">
                <img src="/static/images/icons/About.png" class="icon" id="about-ico">
                <div class="nav-text">About</div>
            </a>
        </nav>
        <a href="/auth/register" class="register-button">Sign Up</a>
        <a href="/auth/login" class="login-button">Sign In</a>
    </header>
    {% block content %}{% endblock %}

<!--    <div id="sign-in" class="modal">-->
<!--        <div class="sign-in-container">-->
<!--            <a href="#" class="close-button">&times;</a>-->
<!--            <h1>Sign In</h1>-->
<!--            <form id="login-form" action="/auth/login" method="post" class="login-form">-->
<!--                <div class="form-group">-->
<!--                    <label for="username">Email</label>-->
<!--                    <input type="text" id="username" name="username" required>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="password">Password</label>-->
<!--                    <input type="password" id="password" name="password" required>-->
<!--                    <div class="password-strength" id="password-strength"></div>-->
<!--                </div>-->

<!--                <button type="submit" class="login-btn">Login</button>-->
<!--                <div class="redirect">-->
<!--                    <a href="#">Forgot Password?</a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <div class="redirect">-->
<!--                Don't have an account yet? <a href="/auth/register">Sign Up here</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <footer>-->
<!--        <p>&copy; 2023 Мой сайт. Все права защищены.</p>-->
<!--    </footer>-->

</body>
</html>