<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yassya Lil</title>
    <link rel="stylesheet" href="/static/styles/0_base.css">
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/static/logo.ico" alt="Logo" id="logo">
            </a>
            <a href="/" class="site-name-link">
                <span class="site-name">Yassya Lil</span>
            </a>
        </div>
        <nav>
            <a href="/">
                <img src="/static/images/icons/Home.png" class="icon" id="home-ico">
                <div class="nav-text">Home</div>
            </a>
            <a href="/books">
                <img src="/static/images/icons/Books.png" class="icon" id="books-ico">
                <div class="nav-text">Books</div>
            </a>
            <a href="/articles">
                <img src="/static/images/icons/Blog.png" class="icon" id="blog-ico">
                <div class="nav-text">Blog</div>
            </a>
            <a href="/about">
                <img src="/static/images/icons/About.png" class="icon" id="about-ico">
                <div class="nav-text">About</div>
            </a>
        </nav>
        <a href="/auth/register" class="register-button">Sign Up</a>
        <a href="/auth/login" class="login-button">Sign In</a>
    </header>
    {% block content %}{% endblock %}

<!--    <footer>-->
<!--        <p>&copy; 2023 Мой сайт. Все права защищены.</p>-->
<!--    </footer>-->

</body>
</html>