<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yassya Lil</title>
    <link rel="stylesheet" href="/static/styles/0_base.css">
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/static/logo.ico" alt="Logo" id="logo">
            </a>
            <a href="/" class="site-name-link">
                <span class="site-name">Yassya Lil</span>
            </a>
        </div>
        <nav class="main-nav">
            <a href="/">
                <img src="/static/images/icons/Home.png" class="icon" id="home-ico">
                <div class="nav-text">Home</div>
            </a>
            <a href="/books">
                <img src="/static/images/icons/Books.png" class="icon" id="books-ico">
                <div class="nav-text">Books</div>
            </a>
            <a href="/blog">
                <img src="/static/images/icons/Blog.png" class="icon" id="blog-ico">
                <div class="nav-text">Blog</div>
            </a>
            <a href="/about">
                <img src="/static/images/icons/About.png" class="icon" id="about-ico">
                <div class="nav-text">About</div>
            </a>
        </nav>
        <nav class="auth-nav">
            {% if current_user %}
                <a id="logout-button" class="logout-button">Sign Out</a>
            {% endif %}
            {% if not current_user %}
                <a class="register-button" onclick="openRegisterModal()">Sign Up</a>
                <a class="login-button" onclick="openLoginModal()">Sign In</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock %}


<div id="registerModal" class="register-modal">
    <div class="register-modal-content">
        <span class="register-close">&times;</span>
        <h2>Sign Up</h2>
        <form id="registration-form" action="/auth/register" method="post" class="registration-form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <div class="error" id="email-error"></div>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <div class="password-strength" id="password-strength"></div>

            <label for="repeat-password">Repeat Password</label>
            <input type="password" id="repeat-password" name="repeat_password" required>
            <div class="error" id="repeat-password-error"></div>

            <button type="submit" class="register-btn">Register</button>
        </form>
        <div class="redirect">
                Already have an account? <a href="/auth/login">Sign In here</a>
        </div>
    </div>
</div>



    <script src="/static/scripts/logout.js"></script>
    <script src="/static/scripts/authModal.js"></script>
</body>
</html>