{% extends "pages/base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/styles/4_blog.css">

<div id="blog" class="background">
    <div class="content" id="blog-content">
        <section class="blog-section">
            <h1 class="content-title">Interesting and Useful</h1>
            <div class="cards">
                {% for article in articles %}
                    <a href="{{ url_for('get_article', article_id=article.id) }}" 
                        class="card">
                        <div class="img-box">
                            {% if article.preview %}
                                <img src="/static/images/previews/{{ article.preview }}" 
                                    alt="{{ article.title }} cover" 
                                    class="card-image">
                            {% else %}
                                <img src="/static/images/NoImage.jpg" 
                                    alt="{{ article.title }} cover" 
                                    class="card-image">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <div class="card-header">
                                <p class="date">{{ article.created_at.strftime("%B %d, %Y") }}</p>
                                <h3>{{ article.title }}</h3>
                            </div>
                            <p class="card-summary">{{ article.summary }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
</div>


{% endblock %}
