{% extends "pages/base.html" %}

{% block content %}

<div id="book-details" class="background">
    <div class="content">
        <h1 class="content-title">{{ book.title }}</h1>
        <hr class="content-divider">
        <div class="book-detail">
            <img src="/static/images/{{ book.image }}" alt="{{ book.title }} cover" class="book-cover-details">
            <p>
                {{ book.full_description }}
            </p>
            <section id="video">
            <h2>Видео с YouTube</h2>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jMCXFGdSbH4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
        </div>
    </div>
</div>


{% endblock %}