{% extends "pages/base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/styles/3_book_details.css">

<div id="book-details" class="background">
    <div class="book-details-content">
        <div class="main-block">
            <div class="book-descr-block">
                <div class="book-image-left">
                    <img src="/static/images/{{ book.image }}" alt="{{ book.title }} cover" class="book-cover-details">
                </div>
                <div class="book-descr-right">
                    <div class="book-titles-right">
                        <h1 class="book-title-right">{{ book.title }}</h1>
                        <a href="/books" class="book-series-right">
                            <h2 class="book-series-right">{{ book.series }}</h2>
                        </a>
                    </div>
                    <div class="book-descr-text-right">
                        {{ book.full_description }}
                    </div>
                </div>
            </div>

            <div class="book-info-block">
                <hr class="content-divider-info-block">
                <div class="info-block">
                    <div class="info-container">
                        <div class="info-name">Language</div>
                        <div class="info-icon">
                            <img src="/static/images/icons/Language.png" class="icon-info-container">
                        </div>
                        <div class="info-value">{{ book.language }}</div>
                    </div>
                    <div class="info-container">
                        <div class="info-name">Age</div>
                        <div class="info-icon">
                            <img src="/static/images/icons/Age.png" class="icon-info-container">
                        </div>
                        <div class="info-value">{{ book.min_age }} - {{ book.max_age }} years</div>
                    </div>
                    <div class="info-container">
                        <div class="info-name">Pages</div>
                        <div class="info-icon">
                            <img src="/static/images/icons/Pages.png" class="icon-info-container">
                        </div>
                        <div class="info-value">{{ book.pages }} pcs</div>
                    </div>
                </div>
                <hr class="content-divider-info-block">
            </div>

            <div class="video-block">
                <div class="video-block-title">{{ book.title }} aloud</div>
                <div class="video-container">
                    <iframe class="video-frame" src="{{ book.aloud_link }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="reviews-block">
                <div class="reviews-header">
                    <div class="reviews-header-left-block">
                        <div class="reviews-block-title">Customer reviews</div>
                        <div class="reviews-rating">
                            <div class="rating-stars">**********</div>
                            <div class="rating-mean-value">{{ book.mean_rating }}/5</div>
                            <div class="ratings-count">{{ book.ratings_count }} ratings</div>
                            <div class="reviews-count">| {{ book.reviews_count }} reviews</div>
                        </div>
                    </div>
                    <div class="write-review-button-container">
                        {% if current_user %}
                            <a class="write-review-button" onclick="openModal()">
                                Write a review
                            </a>
                        {% else %}
                            <a class="write-review-button-disabled" title="Please log in to write a review">
                                Write a review
                            </a>
                        {% endif %}
                    </div>
                </div>

                    <hr class="content-divider-reviews-block">
                    <div class="review">
                        <div class="review-info">
                            <div class="reviewer-name">by Julian,</div>
                            <div class="review-date">March 18, 2023</div>
                        </div>
                        <div class="review-rating-and-title">
                            <div class="review-rating-stars">**********</div>
                            <div class="review-title">Great story and great purchase</div>
                        </div>
                        <div class="review-text">
                            Phasellus ut lorem eu sapien placerat ornare quis ac purus. Aenean consectetur, dolor eget aliquet auctor, dolor leo laoreet lorem, eu blandit justo nisi eu arcu. Donec et nulla dolor. Aliquam vitae leo tincidunt, convallis lectus sit amet, convallis felis. Donec sit amet lectus a ex pellentesque rhoncus et quis felis. Mauris enim justo, congue congue rutrum nec, rhoncus vitae quam.
                        </div>
                    </div>

            </div>

        </div>




        <div class="minor-block">
            <div class="purchase-top-right-block">
                <div class="purchase-options">
                    <div class="purchase-option">
                        <span class="purchase-option-descr">Hardcover</span>
                        <span class="purchase-option-price">from 5.99$</span>
                    </div>
                    <div class="purchase-option">
                        <span class="purchase-option-descr">Paperback</span>
                        <span class="purchase-option-price">from 5.99$</span>
                    </div>
                </div>
                <div class="buy-button-container">
                    <a class="buy-button" href="{{ book.amazon_link }}">
                        Buy now on Amazon
                    </a>
                </div>
            </div>

            <div class="related-books-lower-right-block">
                <span class="related-books-block-title">Related books</span>
                <hr class="related-books-block-content-divider">
                <div class="related-books-grid">
                    {% for book in related_books %}
                        <div class="related-book-item">
                            <a  class="related-book-link" href="{{ url_for('get_book_details', book_title=book.title) }}">
                                <img class="related-book-cover" src="/static/images/{{ book.image }}" alt="{{ book.title }} cover">
                            </a>
                            <a class="related-book-title" href="{{ url_for('get_book_details', book_title=book.title) }}">{{ book.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>


<div id="reviewModal" class="review-modal">
    <div class="review-modal-content">
        <span id="reviewModalCloseBtn" class="modal-close-btn">&times;</span>
        <h2>Review</h2>
        <form id="review-form" action="{{ url_for('create_review', book_title=book.title) }}"
              method="post" class="review-form">
            <label for="title">Your Review</label>
            <textarea id="title" name="title" placeholder="Write your review" maxlength="100"></textarea>

            <label for="text">Your Impressions</label>
            <textarea id="text" name="text" placeholder="Describe your impressions of the book" maxlength="1000"></textarea>

            <label for="rating">Your Rating</label>
            <input type="number" id="rating" name="rating" placeholder="Rate the book">

            <button class="send-review-button" type="submit">Send</button>
        </form>
    </div>
</div>

<script src="/static/scripts/reviewModal.js"></script>
{% endblock %}