<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yassya Lil</title>
    <link rel="stylesheet" href="/static/styles/0_base.css">
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
</head>
<body>
  <h2>Reset Your Password</h2>
    
    <form action="/auth/reset-password" method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="password" required>
        
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>