{% extends "pages/base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/styles/2_books.css">

<div id="books" class="background">
    <div class="content" id="books-content">
        <h1 class="content-title">Our Emotions are Our Friends</h1>
        <div class="book-grid">
            {% for book in books %}
                <div class="book-item">
                    <a href="{{ url_for('get_book_details', book_title=book.title) }}" 
                        class="book-cover-container">
                        <img src="/static/images/covers/{{ book.image }}" 
                            alt="{{ book.title }} cover" 
                            class="book-cover">
                        {% if not book.active %}
                            <img src="/static/images/icons/coming_soon.png" alt="" 
                                class="coming-soon-label">
                        {% endif %}
                    </a>
                    <a href="{{ url_for('get_book_details', book_title=book.title) }}" 
                        class="book-title">
                        {{ book.title }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}