/* BODY */
body {
    font-family: 'Comic Neue', sans-serif;
    margin: 0;
    padding: 0;
}


/* HEADER */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (min-width: 951px) {
    header, footer {
        background: linear-gradient(90deg, #fff8e2 0%, #b7d0ff 100%);
    }
}
@media only screen and (max-width: 951px) {
    header, footer {
        /* background: linear-gradient(90deg, #fff8e2 0%, #b7d0ff 100%); */
        /* background: linear-gradient(90deg, #f1ffcd 0%, #dcfd87 100%); */
        background: white;
    }
    header {
        border-bottom: 1px solid #ddd;
        box-shadow: 5px 0px 50px rgb(0, 0, 0, 0.2);
    }
    footer {
        border-top: 1px solid #ddd;
    }
}


    /* LOGO and SITE NAME*/
    .logo-container {
        display: flex;
        gap: 1em;
        align-items: center;
        padding-left: 20px;
    }

        .logo-container a {
            text-decoration: none;
        }

            #logo {
                width: 65px;
                vertical-align: middle;
            }

            .site-name {
                font-size: 2em;
                font-weight: bold;
                color: #333;
            }



    /* NAVIGATION */
    .main-nav {
        display: flex;
        justify-content: space-between;
        width: 45%;
        gap: 20px;
    }

        .main-nav a {
            display: flex;
            gap: 1em;
            text-decoration: none;
            color: #333;
            font-size: 1.35em;
            font-weight: bold;
            align-items: center;
        }

        .main-nav img {
            width: 2.4em;
        }

        .main-nav span:hover {
            text-decoration: underline;
        }


    .auth-nav {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-right: 20px;
    }

        .register-button,
        .login-button {
            display: inline-block;
            padding: 8px 30px;
            font-weight: bold;
            font-size: 1.1em;
            text-decoration: none;
            cursor: pointer;
            color: #333;
        }

            .register-button:hover {
                text-decoration: underline;
            }

        .login-button {
            color: white;
            background-color: #333;
            border-radius: 25px;
        }

            .login-button:hover {
                background-color: darkblue;
            }


        .hello-user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

            .hello-user span {
                font-size: 1.2em;
                font-weight: bold;
                color: #333;
            }

            .logout-button {
                cursor: pointer;
            }

                .logout-button img {
                    width: 2.4em;
                }

        
        .menu-button {
            display: none;
            font-size: 2.5rem;
            background: none;
            border: none;
            cursor: pointer;
            padding-inline: 1.5rem;
        }

            .mobile-menu {
                display: none;
                position: absolute;
                width: 12rem;
                top: 80px;
                right: 0px;
                background: white;
                box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                flex-direction: column;
                padding: 15px 40px;
                gap: 10px;
            }
            
                .mobile-menu-item {
                    text-decoration: none;
                    color: #333;
                    font-size: 1.2em;
                    display: flex;
                    justify-content: start;
                    gap: 10px;
                    align-items: center;
                    padding: 10px;
                }

                    .mobile-nav-icon {
                        width: 2.5rem;
                    }
            
        @media only screen and (max-width: 1200px) {
            .nav-icon, .mobile-menu {
                display: none;
            }
        }
        
        @media only screen and (max-width: 800px) {
            .main-nav, .auth-nav {
                display: none;
            }
            .menu-button {
                display: block;
            }
        }



/* BACKGROUND */
.background {
    /* min-height: 100vh; */
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80px;
    background-attachment: fixed;
}



/* CONTENT */
@media only screen and (min-width: 2101px) {
    .content h1 {
        font-size: 2.5rem;
        margin-block: 25px;
    }
}

@media only screen and (max-width: 2101px) {
    .content h1 {
        font-size: 2rem;
        margin-block: 25px;
    }
}

@media only screen and (min-width: 1351px) {
    .content {
        margin: calc(18vw) auto 100px auto;
    }
}

@media only screen and (max-width: 1351px) {
    .content {
        margin: calc(19vw) auto 100px auto;
    }

        .content h1 {
            font-size: 1.8rem;
            margin-block: 15px;
        }
}

@media only screen and (max-width: 1151px) {
    .content {
        margin: calc(20vw) auto 100px auto;
    }

        .content h1 {
            font-size: 1.6rem;
        }
}

@media only screen and (max-width: 1001px) {
    .content {
        margin: calc(21vw) auto 100px auto;
    }
}

@media only screen and (min-width: 951px) {
    .content {
        height: auto;
        max-width: 60%;
        min-width: 660px;
        padding: 20px;
        background-color: white;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }

        .content h1::after {
            width: 60%;
            margin-left: 20%;
        }
}

@media only screen and (max-width: 951px) {
    .content {
        height: auto;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 20px;
        padding: 0px;
        background-color: #fafafa;
    }

        .content h1 {
            font-size: 2rem;
        }

            .content h1::after {
                width: 60%;
                margin-left: 20%;
            }
}

@media only screen and (max-width: 769px) {
    .content h1 {
        font-size: 1.6rem;
    }

        .content h1::after {
            width: 70%;
            margin-left: 15%;
        }
}

@media only screen and (max-width: 426px) {
    .content h1 {
        font-size: 1.2rem;
    }
}


    .content h1 {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

        .content h1::after {
            content: "";
            display: block;
            background: #333;
            height: 0.15rem;
            width: 70%;
            margin-left: 15%;
        }
        
        
        
        
/* FOOTER */
@media only screen and (min-width: 426px) {
    .footer-head {
        gap: 75px;
    }

    .footer-links,
    .footer-social {
        gap: 30px;
    }

        .footer-links a,
        .footer-copyright a {
            font-size: 1rem;
        }
}

@media only screen and (max-width: 460px) {
    .footer-head {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links {
        gap: 10px;
    }

    .footer-social {
        gap: 30px;
    }

        .footer-links a,
        .footer-copyright a {
            font-size: 1rem;
        }
}

@media only screen and (max-width: 321px) {
    .footer-links a {
        font-size: 0.8rem;
    }

    .footer-copyright a {
        font-size: 1rem;
    }
}

.footer {
    padding: 20px;
    text-align: center;
}

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

        .footer-head {
            display: flex;
            align-items: center;
        }

            .footer-logo {
                display: flex;
                align-items: center;
                gap: 10px;
            }

                .footer-logo p {
                    color: #333;
                    font-size: 28px;
                    font-weight: bold;
                    margin: 0px;
                }

                .footer-logo img {
                    width: 60px;
                    height: 60px;
                }
            
            .footer-nav {
                display: flex;
                gap: 20px;
            }
            
            .footer-nav a {
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                color: #333;
            }

                .footer-nav a:hover {
                    text-decoration: underline;
                }

        .footer-links,
        .footer-social {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }  
        
            .footer-links a,
            .footer-copyright a {
                text-decoration: none;
                color: #333;
            }

                .footer-links a:hover,
                .footer-copyright a:hover {
                    text-decoration: underline;
                }

            .footer-social img {
                height: 35px;
                vertical-align: middle;
            }

            #youtube {
                height: 50px;
            }

        .footer-copyright {
            margin-top: 10px;
            font-size: 14px;
            color: #333;
            margin: 0;
        }



/* COOKIES BANNER */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    z-index: 1000;
}

    .cookie-banner-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
    }
    
        .cookie-banner-content p {
            margin: 0;
        }

        .cookie-banner-content div {
            display: flex;
            justify-content: center;
            gap: 30px;  
        }
    
            .cookie-btn {
                font-size: 16px;
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 10px 20px;
                cursor: pointer;
            }
            
                .cookie-btn:hover {
                    background-color: #45a049;
                }
                
                .cookie-btn:focus {
                    outline: none;
                }



/* AUTH MODAL WINDOWS */
.auth-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

    .auth-modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border-radius: 10px;
        width: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
    }

        .modal-title {
            font-weight: bold;
            font-size: 1.6rem;
            text-align: center;
        }

        .modal-close-btn {
            position: absolute;
            top: 10px;
            right: 20px;
            color: #333;
            font-size: 3.5rem;
            font-weight: bold;
            cursor: pointer;
            width: 15px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .modal-close-btn:hover,
            .modal-close-btn:focus {
                color: #888;
            }

        .auth-form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .auth-form label {
            font-size: 1.1rem;
            color: #333;
        }

        .auth-form input {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 1.1rem;
            transition: border-color 0.3s;
        }

        .auth-form input:focus {
            border-color: #007bff;
            outline: none;
        }

        .error, .password-strength {
            font-size: 0.8rem;
            color: red;
            margin-bottom: 15px;
        }

        .auth-submit-btn {
            background-color: #007bff;
            color: white;
            padding: 12px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
            transition: background-color 0.3s;
        }

            .auth-submit-btn:hover {
                background-color: #0056b3;
            }

        .redirect {
            text-align: center;
            font-size: 1rem;
        }

            .auth-button {
                color: #007bff;
                font-weight: bold;
                display: inline-block;
                font-size: 1rem;
                text-align: center;
                cursor: pointer;
            }

                .auth-button:hover {
                    text-decoration: underline;
                }

/* Modal fade-in animation */
@keyframes modalFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.auth-modal.show {
    display: block;
    animation: modalFadeIn 0.5s;
}
