
#book-details.background {
    background-image: url('../images/backgrounds/Book_details.png');
}

@media only screen and (min-width: 1551px) {
    .book-details-content {
        margin: calc(16vw) auto 100px auto;
    }
}
@media only screen and (max-width: 1551px) {
    .book-details-content {
        margin: calc(17vw) auto 100px auto;
    }
}
@media only screen and (max-width: 1351px) {
    .book-details-content {
        margin: calc(18vw) auto 100px auto;
    }
}
@media only screen and (max-width: 1151px) {
    .book-details-content {
        margin: calc(19vw) auto 100px auto;
    }
}
@media only screen and (max-width: 1001px) {
    .book-details-content {
        margin: calc(20vw) auto 100px auto;
    }
}
@media only screen and (max-width: 951px) {
    .book-details-content {
        margin: 80px 0px 0px 0px;
    }
}


.book-details-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    height: auto;
}


    .coming-soon-block {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        color: #333;
        flex-direction: column;
        width: 90%;
        border-radius: 60px;
    }

        .coming-soon-block img {
            width: 100%;
        }

            .coming-soon-block-header::after {
                content: "";
                display: block;
                height: 0.25rem;
                background: #333;
                margin-top: 1.5rem;
                border-radius: 10px;
            }

    .timer-container {
        display: flex;
    }

        .digit-box {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            font-size: 3.5em;
            font-weight: bold;
            border-radius: 5px;
        }

            /* .digit-box::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('/static/images/test.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .digit-box {
                background: rgba(0, 0, 0, 0.5);
            }

            .coming-soon-block {
                padding-bottom: 100px;
            } */


/*** MAIN block ***/
.main-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 25px;
    background-color: white;
    border-radius: 25px;
}

    .book-descr-block {
        display: flex;
    }

        .book-image-left {
            margin-block: 20px 0px;
        }

            .book-cover-details {
                width: 100%;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            }

    .book-descr-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        max-height: 100%;
        overflow: hidden;
    }

        .book-details-content h1 {
            font-size: 1.7em;
            margin-block: 0px;
        }

        .coming-soon-block h1 {
            font-size: 4em;
            margin: 0;
        }

        .book-series-right {
            font-size: 1.125em;
            font-weight: bold;
            color: #666;
            text-decoration: none;
        }

            .book-series-right:hover {
                text-decoration: underline;
            }

        .book-descr-text-right {
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 1.125em;
            max-height: 250px;
            overflow: hidden;
            position: relative;

            display: -webkit-box;
            line-clamp:10;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }

            .book-descr-text-right p {
                margin-block: 10px 0px;
            }

        .descr-show-more-btn {
            align-self: start;
            font-size: 1.1em;
            color: blue;
            /* text-decoration: underline; */
        }

            .descr-show-more-btn:hover {
                cursor: pointer;
            }


    .content-divider-info-block {
        border: 0;
        height: 1px;
        background: #666;
        margin: 10px 0 10px 0;
    }


    .book-info-block {
        font-size: 1em;
        display: flex;
        width: auto;
        flex-direction: column;
        padding: 0 5% 0 5%;
    }

        .info-block {
            display: flex;
            justify-content: space-evenly;
        }

        .info-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
            .info-name {
                font-size: 1em;
            }

            .icon-info-container {
                width: 40px;
                vertical-align: middle;
            }

            .info-value {
                font-size: 1em;
                font-weight: bold;
            }


    .video-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        .video-block-title {
            font-size: 1.6em;
            font-weight: bold;
            text-align: center;
        }

        .video-container {
            display: flex;
            justify-content: center;
        }

            .video-frame {
                width: 95%;
                height: 500px;
            }


    .reviews-block {
        display: flex;
        flex-direction: column;
        padding: 0 3% 0 3%;
    }

        .reviews-header {
            display: flex;
            justify-content: space-between;
            padding-inline: 10px;
        }

            .reviews-header-left-block {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

                .reviews-block-title {
                    font-weight: bold;
                    font-size: 1.6em;
                }

                .reviews-rating {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 0 20px;
                }

                    .rating-stars {
                        display: inline-block;
                        font-size: 1.8em;
                        letter-spacing: 5px;
                        position: relative;
                        color: #ccc;
                        align-self: center;
                        font-weight: bold;
                    }
                    
                    .rating-stars::before {
                        content: "★★★★★";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: calc(var(--rating) / 5 * 100%);
                        overflow: hidden;
                        white-space: nowrap;
                        color: gold;
                        align-self: center;
                    }

                    /* .rating-mean-value {
                        align-self: center;
                    }

                    .ratings-count {
                        align-self: center;
                    } 

                    .reviews-count {
                        align-self: center;
                    }  */


                    .sort-reviews-container {
                        display: flex;
                        justify-content: end;
                    }

                        .reviews-sort-dropdown {
                            position: absolute;
                        }

                        /* .reviews-sort-dropdown::before {
                            content: "Sort by:";
                        } */
                        
                        .sort-reviews-container span {
                            padding: 5px 5px;
                            margin-right: 100px;
                        }

                        .sort-button-dropdown {
                            font-family: inherit;
                            background-color: #ffffff;
                            padding: 5px 5px;
                            font-size: 1em;
                            border: 0px solid #ccc;
                            cursor: pointer;
                            min-width: 100px;
                            text-align: left;
                        }
                        
                        /* .sort-button-dropdown:hover {
                            background-color: #d0d0d0;
                        } */
                        
                        .dropdown-content {
                            display: none;
                            position: relative;
                            background-color: white;
                            min-width: 100px;
                            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
                            z-index: 1;
                            font-weight: normal;
                            border-radius: 5px;
                            margin-top: 5px;
                        }
                        
                        .dropdown-content a {
                            color: black;
                            padding: 5px 5px;
                            font-size: 1em;
                            text-decoration: none;
                            text-align: left;
                            display: block;
                        }
                        
                        .dropdown-content a:hover {
                            background-color: #ddd;
                        }
                        
                        .reviews-sort-dropdown:hover .dropdown-content {
                            display: block;
                        }
                        
                        .dropdown-content a.active {
                            background-color: #cccccc;
                        }


            .write-review-button-container {
                display: flex;
                align-items: end;
            }

                .write-review-button,
                .write-review-button-disabled {
                    display: inline-flex;
                    padding: 5px 15px;
                    font-size: 1.25em;
                    color: white;
                    background-color: #333;
                    text-decoration: none;
                    font-weight: bold;
                    cursor: pointer;
                    text-align: center;
                }

                .write-review-button-disabled {
                    color: gray;
                    pointer-events: none;
                    background-color: #666;
                    cursor: none;
                }


            .review-modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.5);
            }

                .review-modal-content {
                    background-color: #fefefe;
                    padding: 20px;
                    position: relative;
                }

                    .review-modal-content h2 {
                        margin-top: 0;
                        text-align: center;
                        color: #333;
                    }

                    .send-rating {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: start;
                        font-size: 2.5em;
                        gap: 0.2em;
                    }
                
                    .send-rating input {
                        display: none;
                    }
                
                    .send-rating label {
                        cursor: pointer;
                        color: #ccc;
                        transition: color 0.1s;
                        font-weight: bold;
                    }
                
                    .send-rating input:checked ~ label,
                    .send-rating label:hover,
                    .send-rating label:hover ~ label {
                        color: gold;
                    }
                


                .review-form > label,
                .review-form > span {
                    color: #333;
                    margin-bottom: 0.5em;
                    display: block;
                    font-size: 1.25em;
                }

                .review-form input {
                    width: 100%;
                    padding: 0.5em;
                    border: 1px solid #ccc;
                    border-radius: 0.25em;
                    box-sizing: border-box;
                    font-size: 1em;
                    transition: border-color 0.3s;
                    margin-bottom: 0.5em;
                }

                .review-form input:focus {
                    border-color: #007bff;
                    outline: none;
                }

                .review-form textarea {
                    width: 100%;
                    padding: 0.5em;
                    border: 1px solid #ccc;
                    border-radius: 0.25em;
                    box-sizing: border-box;
                    font-size: 1em;
                    resize: none;
                    min-height: 100px;
                    overflow: hidden;
                    margin-bottom: 0.25em;
                }

                .review-form textarea:focus {
                    border-color: #007bff;
                    outline: none;
                }

                .review-form button {
                    background-color: #007bff;
                    color: white;
                    padding: 0.5em 0.75em;
                    border: none;
                    border-radius: 0.25em;
                    cursor: pointer;
                    font-size: 1.25em;
                    transition: background-color 0.3s;
                    display: block;
                    margin: 0 auto;
                    margin-top: 0.5em;
                    width: 100%;
                }

                .review-form button:hover {
                    background-color: #0056b3;
                }

            /* Animation for modal opening */
            @keyframes modalFadeIn {
                from { opacity: 0; }
                to { opacity: 1; }
            }

            .review-modal.show {
                display: block;
                animation: modalFadeIn 0.5s;
            }


        .content-divider-reviews-block {
            border: 0;
            height: 2px;
            background: #666;
            margin: 10px 0 0 0;
        }

        .reviews-list {
            display: flex;
            flex-direction: column;
            gap: 25px;
            justify-content: start;
        }


        .review {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 10px;
            padding: 0 10px 0 10px;
        }

            .review-info {
                display: flex;
                gap: 15px;
                font-weight: bold;
                font-size: 0.875em;
            }

                /* .reviewer-name {
                    margin-right: 10px;
                } */

            .review-rating-and-title {
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: bold;
                font-size: 1.125em;
            }

                /* .review-rating-stars {
                    margin-right: 10px;
                } */

            .review-text {
                padding-left: 20px;
            }
        
        
        .hidden {
            display: none;
        }

        #show-more-btn {
            background-color: #eee;
            border-width: thin;
            border-color: #ccc;
            border-radius: 10px;
            padding: 5px 5px;
            font-size: 1em;
            font-family: inherit;
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
        }


/*** MINOR block ***/
.minor-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .purchase-top-right-block {
        display: flex;
        height: 150px;
        background-color: white;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
        border-radius: 25px;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
    }

    .purchase-top-right-block.mob {
        display: none;
        background: none;
    }

        .purchase-options {
            height: 50%;
            display: flex;
            justify-content: space-around;
        }

            .purchase-option {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 45%;
                border: 1px solid #000;
                border-radius: 10px;
                text-decoration: none;
                color: black;
            }

                .purchase-option:hover {
                    background-color: #dedede;
                }

                .purchase-option-descr,
                .purchase-option-price,
                .buy-button {
                    font-size: 1em;
                    text-align: center;
                }

                .purchase-option-price,
                .buy-button {
                    font-weight: bold;
                }

                    .buy-button:hover {
                        background-color: #555;
                    }

        .buy-button-container {
            display: flex;
            justify-content: center;
        }

        .buy-button {
            display: inline-block;
            padding: 8px 16px;
            border-radius: 25px;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            color: white;
            background-color: #333;
        }


    .related-books-lower-right-block {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 5px;
        padding-block: 10px;
        background-color: white;
        border-radius: 25px;
    }

    .related-books-lower-right-block.mob {
        display: none;
    }

        .related-books-block-title {
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
        }

        .related-books-block-content-divider {
            border: 0;
            height: 2px;
            background: #333;
        }

        .related-books-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

            .related-book-item {
                display: flex;
                width: clamp(70px, 40%, 150px);
                flex-direction: column;
            }

                    .related-book-cover {
                        width: 100%;
                        box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);
                    }

                .related-book-title {
                    font-size: 0.9em;
                    font-weight: bold;
                    text-decoration: none;
                    text-align: center;
                    color: #333;
                }

                    .related-book-title:hover {
                        text-decoration: underline;
                    }





@media only screen and (max-width: 950px) {
    #book-details.background {
        background: none;
    }
}


/* FONTS */
@media only screen and (min-width: 1801px) {
    .coming-soon-block {
        gap: 30px;
    }
}
@media only screen and (max-width: 1801px) {
    .coming-soon-block {
        gap: 30px;
    }
}
@media only screen and (min-width: 1441px) {
    body {
        font-size: 1rem;
    }
        .book-descr-block {
            gap: 20px;
            padding: 0 4%;
        }
            .book-image-left {
                max-width: 30%;
            }
            .book-descr-right {
                gap: 5px;
            }
    .purchase-top-right-block {
        height: 150px;
    }
}
@media only screen and (max-width: 1441px) {
    body {
        font-size: 0.85rem;
    }
        .book-descr-block {
            gap: 20px;
            padding: 0 3%;
        }
            .book-image-left {
                max-width: 35%;
            }
            .book-descr-right {
                gap: 5px;
            }
    .purchase-top-right-block {
        height: 130px;
    }
}
@media only screen and (max-width: 1221px) {
    body {
        font-size: 0.8rem;
    }
        
        .book-descr-block {
            gap: 20px;
            padding: 0 2%;
        }
        .purchase-top-right-block {
            height: 110px;
        }
}
@media only screen and (max-width: 1025px) {
    body {
        font-size: 0.7rem;
    }
}


/* MOBILE DEVICES */
@media only screen and (min-width: 951px) {
    .coming-soon-block {
        padding-block: 30px;
    }

    .timer-container {
        gap: 3em;
    }

    .digit-box {
        padding-inline: 20px;
    }

    .book-details-content {
        flex-direction: row;
        width: clamp(700px, 70%, 1500px);
    }

        .main-block {
            width: 70%;
            box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
            padding: 4% 2%;
        }

        .minor-block {
            width: 25%;
        }

            .purchase-top-right-block {
                box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
            }

            .related-books-lower-right-block {
                box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
            }

            .related-books-block-content-divider {
                margin: 0 10%;
            }

            .related-books-grid {
                padding: 10px;
                gap: 15px 5px;
            }

                .related-book-title {
                    margin-top: 5px;
                }

    .review-modal-content {
        margin: 10% auto;
        width: clamp(400px, 40%, 700px);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}
@media only screen and (max-width: 951px) {
    body {
        font-size: 1.0rem;
    }

    .coming-soon-block {
        padding-block: 30px;
        margin-top: 50px;
        margin-inline: 5%;
    }

    .timer-container {
        gap: 3em;
    }

    .digit-box {
        padding-inline: 20px;
    }

    .book-details-content {
        flex-direction: column;
        width: 100%;
        background: #eaeaea;
    }

        .main-block {
            padding: 5% 0;
            background: none;
        }

        .main-block,
        .minor-block {
            width: 100%;
            box-shadow: none;
        }

            .book-descr-block {
                gap: 50px;
                padding: 0 5%;
            }

        .purchase-top-right-block {
            display: none;
            box-shadow: none;
        }

        .purchase-top-right-block.mob {
            display: flex;
            width: 100%;
            border-radius: 0;
        }

            .purchase-top-right-block.mob h3 {
                align-self: center;
            }

        .related-books-lower-right-block {
            display: none;
            box-shadow: none;
        }

        .related-books-lower-right-block.mob {
            display: flex;
            background: none;
        }

        .related-books-block-content-divider {
            margin: 0 25%;
        }

        .related-books-grid {
            padding: 40px 20px;
            gap: 15px 5px;
        }

            .related-book-title {
                margin-top: 10px;
            }
    
    .sort-button-dropdown {
        background: none;
    }

    .review-modal-content {
        margin: 10% auto;
        width: clamp(100px, 60%, 500px);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}
@media only screen and (max-width: 769px) {
    .coming-soon-block {
        font-size: 0.8em;
        padding-block: 0;
        padding-top: 40px;
    }

        .timer-container {
            gap: 2em;
        }

    .review-modal-content {
        margin: 0;
        margin-top: 150px;
        width: calc(100% - 40px);
        border-radius: 0;
        box-shadow: none;
    }
}
@media only screen and (max-width: 701px) {
    .book-descr-block {
        gap: 25px;
    }
}
@media only screen and (max-width: 601px) {
    .coming-soon-block {
        font-size: 0.6em;
    }
    .book-descr-block {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 0 4%;
    }
    .book-descr-right {
        align-items: center;
        background-color: #fff;
        padding: 30px;
        border-radius: 30px;
    }
    .book-image-left {
        max-width: 60%;
    }
    .rating-stars {
        width: 100%;
    }
    .coming-soon-block {
        padding-top: 40px;
    }
    .timer-container {
        gap: 1em;
    }
    .book-info-block,
    .video-block,
    .reviews-block,
    .related-books-lower-right-block.mob {
        background: #fff;
        padding-block: 30px;
        border-radius: 30px;
        margin-inline: 4%;
    }
    .related-books-grid {
        padding: 20px;
    }
}
@media only screen and (max-width: 426px) {
    .digit-box {
        padding-inline: 5px;
    }
}
