
#about.background {
    background-image: url('../images/backgrounds/About.png');
}

@media only screen and (max-width: 950px) {
    #about.background {
        background: #fafafa;
    }
}

@media only screen and (min-width: 1441px) {
    body {
        font-size: 1rem;
    }

        #about-content.content {
            padding: 40px 0;
        }

        .about-content {
            row-gap: 40px;
        }

            section.top {
                gap: 50px;
            }

                section.top img {
                    width: clamp(100px, 30%, 350px);
                }

                .main-text {
                    row-gap: 30px;
                }
}

@media only screen and (max-width: 1441px) {
    body {
        font-size: 0.8rem;
    }

        #about-content.content {
            padding: 20px 0;
        }

        .about-content {
            row-gap: 40px;
        }

            section.top {
                gap: 35px;
            }

                section.top img {
                    width: clamp(100px, 30%, 350px);
                }

                .main-text {
                    row-gap: 30px;
                }
}

@media only screen and (max-width: 1201px) {
    body {
        font-size: 0.75rem;
    }

        .about-content {
            row-gap: 20px;
        }

            section.top {
                gap: 20px;
            }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 951px) {
    body {
        font-size: 0.9rem;
    }

        header {
            font-size: 1rem;
        }

            section.top {
                gap: 50px;
            }

                section.top img {
                    width: clamp(100px, 35%, 350px);
                }
}

@media only screen and (max-width: 769px) {
    body {
        font-size: 0.75rem;
    }

        section.top {
            gap: 35px;
        }
}

@media only screen and (max-width: 651px) {
    body {
        font-size: 0.65rem;
    }

        section.top {
            gap: 20px;
        }

            .main-text {
                row-gap: 10px;
            }
}

@media only screen and (max-width: 501px) {
    body {
        font-size: 0.6rem;
    }
}



#about-content.content {
    display: flex;
    flex-direction: column;
    justify-self: start;
    row-gap: 20px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

    #about-content.content > h1 {
        margin: 20px 0;
    }

    .about-content p {
        margin: 0;
    }

    section.top {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }

        section.top img {
            border-radius: 2rem;
        }

        .main-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: clamp(100px, 50%, 650px);
            text-align: center;
        }

            .main-text h2 {
                font-size: 1.8em;
                margin: 0;
            }
            
            .main-text p {
                font-size: 1.2em;  
            }

    section.bottom {
        display: flex;
        flex-direction: column;
        justify-content: start; 
        font-size: 1.2em;
        text-align: left;
    }

        section.bottom > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 3em;
            max-width: 1300px;
        }

            .one-container, .three-container {
                background: #ededed;
            }

            p.one, p.two, p.three, p.four {
                width: 60%;
            }
            p.one-phrase, p.two-phrase, 
            p.three-phrase, p.four-phrase {
                width: 30%;
                text-align: center;
                font-style: italic;
                font-size: 1em;
                font-weight: bold;
            }

            p.one, p.three {
                align-self: start;
                text-align: left;
                /* background: #ededed; */
            }

            p.two, p.four {
                align-self: end;
                text-align: right;
                /* background: greenyellow; */
            }

