
#about.background {
    background-image: url('../images/backgrounds/About.png');
}

@media only screen and (max-width: 950px) {
    #about.background {
        background: none;
    }
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

    section.top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

    }

        section.top img {
            width: 30%;
            border-radius: 2rem;
        }

        .main-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 30px;
            width: 50%;
            text-align: center;
        }

            .main-text h2 {
                font-size: 2.3rem;
                margin: 0;
            }
            
            .main-text p {
                font-size: 1.2rem;  
            }

    section.bottom {
        display: flex;
        flex-direction: column;
        justify-content: start; 
        font-size: 1.2rem;
        text-align: left;
    }

        section.bottom p {
            margin: 0;
            padding: 3rem;
            width: 65%;
        }

            p.one, p.three {
                align-self: start;
                text-align: left;
                /* background: green; */
            }

            p.two, p.four {
                align-self: end;
                text-align: right;
                /* background: greenyellow; */
            }

