<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yassya Lil</title>
    <link rel="stylesheet" href="../../static/styles/0_base.css">
    <link rel="icon" href="../../static/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../static/logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="../../static/logo.ico" alt="Logo" id="logo">
            </a>
            <a href="/" class="site-name-link">
                <span class="site-name">Yassya Lil</span>
            </a>
        </div>
        <nav class="main-nav">
            <a href="/">
                <img src="../../static/images/icons/Home.png" class="icon" id="home-ico">
                <div class="nav-text">Home</div>
            </a>
            <a href="/books">
                <img src="../../static/images/icons/Books.png" class="icon" id="books-ico">
                <div class="nav-text">Books</div>
            </a>
            <a href="/blog">
                <img src="../../static/images/icons/Blog.png" class="icon" id="blog-ico">
                <div class="nav-text">Blog</div>
            </a>
            <a href="/about">
                <img src="../../static/images/icons/About.png" class="icon" id="about-ico">
                <div class="nav-text">About</div>
            </a>
        </nav>
        <nav class="auth-nav">
            <a class="register-button" onclick="openRegisterModal()">Sign Up</a>
            <a class="login-button" onclick="openLoginModal()">Sign In</a>
        </nav>
    </header>


    

    <link rel="stylesheet" href="../../static/styles/5_about.css">

    <div id="about" class="background">
        <div class="content" id="about-content">
            <h1>
                Header 1
            </h1>
            <div class="main-photo">
                <img src="../../static/images/NoImage.jpg" alt="Yassya Lil">
            </div>
            <p>
                Yassya Lil is a talented author of children's illustrated books, who has dedicated her life to one of the most important missions: developing children's emotional intelligence. With over 10 years of experience as a child psychologist and an educational background in psychology, Yassya knows exactly how to help children become emotionally literate and self-aware individuals.
            </p>
            <p>
                Yassya's work has shown that emotional intelligence is fundamental to a child's healthy development. Children who understand and manage their emotions grow up to be happier, more confident, and successful individuals. They handle stress better, get along well with others, and build strong relationships. Yassya believes that every child deserves the opportunity to develop these crucial skills.
            </p>
            <p>
                Yassya's work has shown that emotional intelligence is fundamental to a child's healthy development. Children who understand and manage their emotions grow up to be happier, more confident, and successful individuals. They handle stress better, get along well with others, and build strong relationships. Yassya believes that every child deserves the opportunity to develop these crucial skills.
            </p>
            <p>
                One of Yassya's most significant discoveries in her practice is Fairy Tale Therapy. This method, based on magical stories and characters, allows children to explore their emotions safely and learn to manage them. Through stories, children learn empathy, problem-solving, and self-understanding. Fairy Tale Therapy helps young readers find harmony within their inner world and develop emotional resilience.
            </p>
            <p>
                Yassya Lil's mission is to inspire thousands of children on the path to emotional awareness and self-acceptance. Her books are not only entertaining but also filled with profound lessons about feelings and relationships. Yassya strives to help children gain confidence, learn to love and understand their emotions, and build healthy and happy relationships with others.
            </p>
            <p>
                With each new project, Yassya Lil continues to create magical worlds that assist children and their parents on their journey to emotional well-being. Her books become reliable companions in navigating the complex and fascinating world of emotions.
            </p>
        </div>
    </div>




    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h4>About Us</h4>
                <p>We provide the best solutions for your needs. Our mission is your satisfaction.</p>
            </div>
            <div class="footer-section">
                <h4>Links</h4>
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Contact</h4>
                <p>Phone: +1 (123) 456-7890</p>
                <p>Email: info@example.com</p>
            </div>
        </div>
        <div class="footer-bottom">
        <p>&copy; 2025 Your Company. All rights reserved.</p>
        </div>
    </footer>
        
</body>
</html>