html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Включаем вертикальную прокрутку */
}

body {
    background-image: url('Home.png');
    background-size: cover; /* Изображение подстраивается так, чтобы полностью помещаться */
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll; /* Изображение будет прокручиваться вместе с содержимым */
    min-height: 150vh; /* Делаем высоту больше, чтобы появилась прокрутка */
}