/* BODY */
body {
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f1f1f1;*/

}



/* HEADER */
header {
    /*background: linear-gradient(0deg, #d1d1d1 0%, #ffffff 100%);*/
    /*background-color: white;*/
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, .15);*/
    background: linear-gradient(90deg, #fff8e2 0%, #b7d0ff 100%);
    text-align: center;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



    /* LOGO and SITE NAME*/
    .logo-container {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    #logo {
        width: 65px;
        height: auto;
        vertical-align: middle;
        margin-right: 10px;
    }

    .site-name {
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: #333;
    }

    .site-name-link {
        text-decoration: none;
    }

    .logo-link {
        text-decoration: none;
    }



    /* NAVIGATION */
    nav {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    nav a {
        display: flex;
        margin: 0 3%;
        text-decoration: none;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        align-items: center;
    }

    .icon {
        width: 45px;
        height: auto;
        vertical-align: middle;
        margin-right: 10px;
    }

    .nav-text:hover {
        text-decoration: underline;
    }

    .login-button {
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        color: white;
        background-color: #333;
        border-radius: 25px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        margin-right: 30px;
        cursor: pointer;
    }

    .login-button:hover {
        background-color: darkblue;
    }

    .register-button {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }

    .register-button:hover {
        text-decoration: underline;
    }


/* BACKGROUND */

.background {
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80px;
    background-attachment: fixed;
}


/* CONTENT */
.content {
    height: auto;
    max-width: 900px;
    margin: 320px auto 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    border-radius: 25px;
}


.content-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #222;
    margin: 10px 0 25px 0;
}

.content-divider {
    border: 0;
    height: 3px;
    background: #222;
    margin: 20px 0;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background-color: #e5e5e5;
}


