
#home.background {
    background-image: url('../images/backgrounds/Home.png');
}

@media only screen and (min-width: 2100px) {
    .about-text {
        font-size: 1.4rem;
    }

    .book-item-in-wrapper a {
        font-size: 1.4rem;
    }

    .card {
        width: 23%;
    }

    .card-content h3 {
        font-size: 1.5rem;
    }

    .card-content
    .date {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 2100px) {
    .about-text {
        font-size: 1.3rem;
    }

    .book-item-in-wrapper a {
        font-size: 1.2rem;
    }

    .card {
        width: 25%;
    }

    .card-content h3 {
        font-size: 1.35rem;
    }

    .card-content
    .date {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1921px) {
    .card-content h3 {
        font-size: 1.2rem;
    }

    .about-text {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1700px) {
    .book-item-in-wrapper {
        width: calc((100% - 100px) / 5);
    }
}

@media only screen and (max-width: 1700px) {
    .about-text {
        font-size: 1.1rem;
    }
    
    .book-item-in-wrapper {
        width: calc((100% - 100px) / 4.5);
    }

    .book-item-in-wrapper a {
        font-size: 1.0rem;
    }

    .card {
        width: 27%;
    }

    .card-content h3 {
        font-size: 1.1rem;
    }

    .card-content
    .date {
        font-size: 1.0rem;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1441px) {
    .card-content {
        padding: 10px;
    }
}

@media only screen and (max-width: 1441px) {
    .about-text {
        font-size: 0.95rem;
    }

    .book-item-in-wrapper a {
        font-size: 0.9rem;
    }

    .card-content {
        padding: 5px 10px;
    }

    .card-content h3 {
        font-size: 1.0rem;
    }

    .card-content
    .date {
        font-size: 0.85rem;
        margin-bottom: 7px;
    }
}

@media only screen and (max-width: 1300px) {
    .about-text {
        font-size: 0.85rem;
    }

    .book-item-in-wrapper a {
        font-size: 0.8rem;
    }

    .card-content h3 {
        font-size: 0.85rem;
    }

    .card-content
    .date {
        font-size: 0.75rem;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 950px) {
    .scroll-button {
        display: flex;
    }
    
    .grid-in-wrapper {
        overflow: hidden;
        gap: 30px;
    }

    .book-cover-container:hover {
        transform: scale(1.1);
    }

    .card:hover {
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 950px) {
    #home.background {
        background: #fafafa;
    }

    .scroll-button {
        display: flex;
    }

    .grid-in-wrapper {
        overflow: hidden;
        gap: 30px;
    }
    
        .book-item-in-wrapper {
            width: calc((100% - 100px) / 5);
        }
        
            .book-item-in-wrapper a {
                font-size: 1rem;
            }

                .book-cover-container:hover {
                    transform: scale(1.1);
                }
    
    .grid-in-wrapper.blog {
        padding: 32px;
    }

        .card {
            width: 23%;
        }

            .card:hover {
                transform: scale(1.1);
            }

            .card-content {
                padding: 10px;
            }

                .card-content
                .date {
                    font-size: 1rem;
                }

                    .card-content h3 {
                        font-size: 1.2rem;
                    }

    .about-text {
        font-size: 1.0rem;
    }
}

@media only screen and (max-width: 769px) {
    .scroll-button {
        display: none;
    }

    .grid-in-wrapper {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        --webkit-overflow-scrolling: touch;
    }

        .grid-in-wrapper::-webkit-scrollbar {
            display: none;
        }


    .book-item-in-wrapper {
        width: calc((100% - 10px) / 3.3);
    }

        .book-item-in-wrapper a {
            font-size: 1rem;
        }

            .book-cover-container:hover {
                transform: none;
            }

    .card {
        width: 31%;
    }

        .card:hover {
            transform: none;
        }

        .card-content {
            padding: 10px;
        }

            .card-content
            .date {
                margin-bottom: 10px;
                font-size: 0.9rem;
            }

                .card-content h3 {
                    font-size: 1.1rem;
                }

    .about-text {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 426px) {
    .grid-in-wrapper {
        gap: 14px;
    }

    .book-item-in-wrapper {
        width: calc(100% / 3);
    }

        .book-item-in-wrapper a {
            font-size: 0.8rem;
        }

            .book-cover-container:hover {
                transform: none;
            }

    .grid-in-wrapper.blog {
        padding: 20px;
    }

    .card {
        width: 35%;
    }

        .card:hover {
            transform: none;
        }

        .card-content {
            padding: 5px;
        }

            .card-content
            .date {
                margin-bottom: 5px;
                font-size: 0.6rem;
            }

                .card-content h3 {
                    font-size: 0.8rem;
                }
}


@media only screen and (min-width: 1441px) {
    .grid-in-wrapper {
        padding: 20px;
    }

    .grid-in-wrapper.blog {
        padding: 32px;
    }
}

@media only screen and (max-width: 1441px) {
    .grid-in-wrapper {
        padding: 0 20px;
    }

    .grid-in-wrapper.blog {
        padding: 15px 20px;
    }
}

@media only screen and (min-width: 501px) {
    .grid-in-wrapper.books {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 501px) {
    .grid-in-wrapper.books {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 321px) {
    .grid-in-wrapper.books {
        padding-top: 10px;
    }
}

/* BOOKS CAROUSEL */
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

    .grid-wrapper {
        overflow: hidden;
    }

        .grid-in-wrapper {
            display: flex;
            transition: transform 0.3s ease;
        }

            .book-item-in-wrapper {
                flex-shrink: 0;
                text-align: center;
                position: relative;
            }

                .book-item-in-wrapper a {
                    display: block;
                    font-weight: bold;
                    color: #333;
                    text-decoration: none;
                }

                    .book-item-in-wrapper a:hover {
                        text-decoration: underline;
                    }

                .book-cover-container {
                    transition: 1s;
                }

                    .book-cover-in-wrapper {
                        width: 100%;
                        height: auto;
                        box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.4);
                    }

                    .coming-soon-label {
                        position: absolute;
                        top: -5%;
                        right: -5%;
                        width: 110%;
                        height: auto;
                        z-index: 10;
                    }

                .book-item-title {
                    margin-top: 5px;
                }


/* SCROLL ZONE */
.scroll-zone {
    position: absolute;
    top: 0;
    bottom: 47px;
    width: 300px;
    z-index: 90;
    background-color: rgba(255, 255, 255, 0.0);
}

    .scroll-zone.left {
        left: 0px;
    }

    .scroll-zone.right {
        right: 0px;
    }



/* SCROLL BUTTON */
.scroll-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

    .scroll-button.left {
        left: 0px;
    }

    .scroll-button.right {
        right: 0px;
    }

    .scroll-button:disabled {
        opacity: 0;
    }


/* BLOG CAROUSEL */
    .card {
        display: flex;
        justify-content: start;
        flex-direction: column;
        background: #fff;
        border-radius: 8px;
        box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        flex-shrink: 0;
        transition: 1s;
    }
    
        .card-link {
            text-decoration: none;
            color: inherit;
        }

            .img-box {
                display: inline-block;
                overflow: hidden;

            }

                .img-box img {
                    display: block;
                    width: 100%;
                    background: aliceblue;
                }


        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
            height: 100%;
        }

            .card-content
            .date {
                margin-top: 0px;
                color: #646464;
            }

            .card-content h3 {
                margin: 0px;
            }

@media only screen and (min-width: 1350px) {
    .about-content {
        gap: 50px;
    }

    .about-text {
        width: 50%;
    }
}

@media only screen and (max-width: 1350px) {
    .about-content {
        gap: 20px;
    }

    .about-text {
        width: 60%;
    }
}

@media only screen and (min-width: 1025px) {
    .about-text {
        row-gap: 20px;
    }
}

@media only screen and (max-width: 1025px) {
    .about-text {   
        row-gap: 10px;
    }
}

@media only screen and (max-width: 950px) {
    .about-content {
        gap: 50px;
    }

    .about-text {
        width: 50%;
    }
}


@media only screen and (min-width: 769px) {
    .about-img {
        width: 30%;
    }
}

@media only screen and (max-width: 769px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

        .about-img {
            width: 60%;
        }

            .about-img img {
                height: 100%;
                object-fit: cover;
            }

        .about-text {
            row-gap: 30px;
            width: 90%;
        }
}

@media only screen and (nim-width: 426px) {
    .about-content {
        padding: 20px;
    }
}

@media only screen and (max-width: 426px) {
    .about-content {
        gap: 20px;
        padding: 20px;
        padding-top: 5px;
    }

    .about-text {
        font-size: 1.0rem;
        row-gap: 15px;
    }
}

.about-content {
    display: flex;
    justify-content: center;
}

    .about-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 350px;
        min-width: 200px;
    }

        .about-img img {
            width: 100%;
            border-radius: 2rem;
        }
    
    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

        .about-text p {
            margin: 0;
        }


