
#book-details.background {
    background-image: url('../images/backgrounds/Book_details.jpg');
}


.book-details-content {
    display: flex;
    height: auto;
    max-width: 1100px;
    margin: 150px auto 100px auto;
    justify-content: space-between;
}

.main-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 2%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    border-radius: 25px;
}

.minor-block {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.purchase-top-right-block {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    border-radius: 25px;
    flex-direction: column;
    justify-content: space-between;
}

.purchase-options {
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
}

.purchase-option {
    width: 45%;
    border: 1px solid #000;
}

.buy-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buy-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.related-books-lower-right-block {
    display: flex;
    height: 800px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    border-radius: 25px;
}


.book-descr-block {
    display: flex;
    height: 360px;
    justify-content:space-between;
    padding: 0 2%;
}

.book-image-left {
    width: 33%;
    height: auto;
    display: flex;
    justify-content: center;
}

    .book-cover-details {
            height: 100%;
        }

.book-descr-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-titles-right {
    align: left;
}

    .book-title-right {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .book-series-right {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 18px;
        color: #666;
        text-decoration: None;
    }

    .book-series-right:hover {
        text-decoration: underline;
    }

.book-descr-text-right {
    font-size: 18px;
}

.content-divider-info-block {
    border: 0;
    height: 3px;
    background: #222;
    margin: 10px 0;
}

.book-info-block {
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 0 5% 0 5%;
    margin: 20px 0 20px 0;
}

.info-block {
    display: flex;
    justify-content: space-around;
}

.info-container {
    text-align: center;
}

.info-name {
    font-weight: bold;
}

.info-icon {

}

    .icon-info-container {
        width: 35px;
        height: auto;
        vertical-align: middle;
        margin: 5px 0 5px 0;
    }

.info-value {

}


.video-block {
    display: flex;
    flex-direction: column;
}

.video-block-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
}

.video-frame {
    width: 95%;
    height: 500px;
}

