body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header {
    background: none;
    position: relative;
}

.auth-modal-content {
    box-shadow: none;
    padding: 30px;
    width: auto;
    max-width: 400px;
    margin: none;
    margin-block: 10vh;
}

    #loginPage {
        margin-block: 20vw;
    }
    #registerPage {
        margin-block: 10vw;
    }
    #fpPage {
        margin-block: 20vw;
        gap: 30px;
    }

    #forgot-password-form {
        gap: 10px;
    }

    .modal-title {
        font-size: 1.6em;
    }

    .form-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .form-logo p {
            color: #333;
            font-size: 28px;
            margin: 0px;
        }

        .form-logo img {
            width: 60px;
            height: 60px;
        }

.footer {
    display: none;
}

@media (max-width: 360px) {
    body {
        font-size: 12px;
    }
    
}