/* BODY */
body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;

}



/* HEADER */
header {
    /*background: linear-gradient(0deg, #d1d1d1 0%, #ffffff 100%);*/
    /*background-color: white;*/
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, .15);*/
    background: linear-gradient(90deg, #fff8e2 0%, #b7d0ff 100%);
    text-align: center;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



    /* LOGO and SITE NAME*/
    .logo-container {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    #logo {
        width: 65px;
        height: auto;
        vertical-align: middle;
        margin-right: 10px;
    }

    .site-name {
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: #333;
    }

    .site-name-link {
        text-decoration: none;
    }

    .logo-link {
        text-decoration: none;
    }



    /* NAVIGATION */
    nav {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    nav a {
        display: flex;
        margin: 0 3%;
        text-decoration: none;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        align-items: center;
    }

    .icon {
        width: 45px;
        height: auto;
        vertical-align: middle;
        margin-right: 10px;
    }

    .nav-text:hover {
        text-decoration: underline;
    }

    .login-button {
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        color: white;
        background-color: #333;
        border-radius: 25px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        margin-right: 30px;
        cursor: pointer;
    }

    .login-button:hover {
        background-color: darkblue;
    }

    .register-button {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }

    .register-button:hover {
        text-decoration: underline;
    }


/* BACKGROUND */

.background {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80px;
    background-attachment: fixed;
}

#login.background {
    background-image: url('../images/backgrounds/Signin_Signup.jpg');
}

#register.background {
    background-image: url('../images/backgrounds/Signin_Signup.jpg');
}


.auth-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-top: 100px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    margin-top: 0;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-family: 'Comic Sans MS', sans-serif;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    font-family: 'Comic Sans MS', sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group .error {
    font-family: 'Comic Sans MS', sans-serif;
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

.form-group .password-strength {
    font-family: 'Comic Sans MS', sans-serif;
    color: #007bff;
    font-size: 0.875em;
    margin-top: 5px;
}

.register-btn {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.register-btn:hover {
    background-color: #0056b3;
}

.redirect {
    text-align: center;
    margin-top: 15px;
}

.redirect a {
    color: #007bff;
    text-decoration: none;
}

.redirect a:hover {
    text-decoration: underline;
}










.login-btn {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.login-btn:hover {
    background-color: #0056b3;
}









